body {
    width:80%;
    max-width: 1366px;
    min-width: 800px;
    max-height: 768px;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.square{
    position: absolute;
    width:30px;
    height:30px;
    margin-left: 20px;
    margin-top: 5px;
    animation-name: square1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: black;
}

@keyframes square1{
    0%{background-color: black; transform: rotate(360deg);}
    50%{background-color: white; border-radius: 15px;}
    100%{background-color: black; }
}


#banner {
    width: 100%;
    height: 260px;
    background-color:rgb(47, 47, 73);
}

#banner div
{
    position: relative;
    top:10px;
    left:10px;
    width:40px;
    height:40px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    transition-property: width;
    transition-duration: 3s;
}

#banner div:hover{
    width:95%;
}

#classinfo {
    text-align: right;
    font-size: 12px;
}

main {
    margin: 40px;
}


.circle{
    position: absolute;
    width:15px;
    height:15px;
    margin-right: 5px;
    border-radius: 7.5px;
    background-color: rgb(47, 47, 73);
}

time{
    margin-bottom: 20px;
    margin-left: 20px;
}


article {
    padding:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 2px solid rgb(47, 47, 73);
}

a {
    color:rgb(47, 47, 73);
}

a:hover{
    color:rgb(67, 67, 245);
}

footer a{
    padding: 5px;
}

h2 {
    font-size: 30px;
}

p{
    width: 500px;
    line-height: 1.5em;
}

footer {
    font-size: 10px;
    padding:20px;
    margin:auto;
    text-align: center;
}